.container {
  width: 100%;
  display: grid;
  grid-template-columns: 200px 1fr;
}

.categories {
  border: 1px solid #eeeeee;
  border-radius: 4px;
  box-shadow: 0 0 7px rgba(50, 50, 50, 0.2);
  background: white;
  margin: 15px 0 15px 10px;
  padding: 10px 3px 10px 8px;
}

.item {
  height: 40px;

  span {
    cursor: pointer;
    transition: padding-left linear .2s;
    color: #8e8e8e;

    &:hover {
      padding-left: 8px;
    }
  }
}

.activeItem {
  height: 40px;

  span {
    cursor: pointer;
    transition: padding-left linear .2s;
    color: #82301b;
    padding-left: 8px;

  }
}