.container {
  width: 98%;
  margin: 15px 1%;
  height: 100%;
  border: 1px solid #dedede;
  background-color: white;
  border-radius: 8px;
}

.auctionHeader {
  text-align: center;
  margin: 10px 0;
}

.form {
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 485px 1fr;
  width: 100%;
}

.photoContainer {
  margin: 0 20px;
  border-right: 1px solid #dedede;

  img {
    width: 420px;
    height: 350px;
    border-radius: 10px;
  }

  .loadImageButtonContainer {
    position: relative;
    display: flex;
    margin: 5px 10px;


    .deleteImageButton {
      margin-left: 35px;
      border: 2px solid gray;
      color: gray;
      background-color: white;
      padding: 5px 55px;
      border-radius: 8px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      transition: .2s linear;

      &:hover {
        border: 2px solid darkred;
        background-color: darkred;
        color: white;
      }
    }
  }

  .spinner {
    position: absolute;
    left: 189px;
    top: 4px;
  }
}

.loadImageButton {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 5px 45px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: .2s linear;

  &:hover {
    border: 2px solid darkgreen;
    background-color: darkgreen;
    color: white;
  }
}

.input {
  display: none;
}

@media screen and (max-width: 850px) {
  .form {
    grid-template-columns: 250px 1fr;
  }

  .photoContainer {
    margin: 0 20px;

    img {
      width: 200px;
      height: 170px;
    }

    .loadImageButtonContainer {
      display: block;
      margin: 10px 10px;

      .deleteImageButton {
        margin: 10px 10px 0 0;
      }
    }
  }
}
