.container {
}

.productNavigation {
  background-color: white;
  margin: 30px 2vw;
  height: 60px;
  box-shadow: 0 0 5px rgba(50, 50, 50, 0.4);
  border-radius: 0.2vw;
}

@media screen and (max-width: 680px) {

}