.container {
  width: 100%;
  margin-bottom: 15px;
}

.productNavigation {
  background-color: white;
  margin: 30px 2vw;
  height: 60px;
  box-shadow: 0 0 5px rgba(50, 50, 50, 0.4);
  border-radius: 0.2vw;
}

.itemCarousel4Position {
  display: none;
}

.itemCarousel3Position {
  display: none;
}

@media screen and (max-width: 950px) {
  .itemCarousel5Position {
    display: none;
  }

  .itemCarousel4Position {
    display: block;
  }

  .itemCarousel3Position {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .itemCarousel5Position {
    display: none;
  }

  .itemCarousel4Position {
    display: none;
  }

  .itemCarousel3Position {
    display: block;
  }
}