.navButtonsContainer {
  height: 25px;
  margin: 15px 0 0 20px;
  display: flex;
  padding-top: 15px;
}

.button {
  margin-left: 1vw;

  a {
    font-weight: 500;
    text-decoration: none;
    color: #383838;
    font-size: 1.2em;
    transition: color 0.4s;
  }

  //&:hover a{
  //  color: #afafaf;
  //}
}