.navContainer {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  display: grid;
  grid-template-rows: 100px 60px;
  background-color: #efeeee;
  box-shadow: 0 10px 10px 0 rgba(50, 50, 50, 0.2);
}

@media screen and (max-width: 950px) {
  .navContainer {
    grid-template-rows: 100px 90px;

    .navButtonsContainer {
      padding-top: 0;
      grid-template-columns: repeat(3, 150px);
      grid-gap: 5px;
    }
  }
}