.navContainer {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  display: grid;
  grid-template-rows: 100px 60px;
  background-color: #efeeee;
  box-shadow: 0 10px 10px 0 rgba(50, 50, 50, 0.2);
}

.logoAndNavButtons {
  position: relative;
  height: 100%;
  background-color: #404040;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.6);

  .logo {
    position: absolute;
    height: 80px;
    left: 50px;
    top: -90px;
  }

  .navButtonsContainer {
    padding-top: 7px;
    display: grid;
    grid-template-columns: 90px 115px 117px 100px 205px;
    grid-gap: 30px;
  }
}

.button {

  a {
    text-decoration: none;

  }
}

.enterButton {
  margin: 20px 40px 0 0;
  padding: 0 5px;
  cursor: pointer;
}

.loginBlock {
  height: 100%;
  width: 400px;
  margin-left: auto;
  margin-top: 15px;
  display: flex;
  justify-content: right;
}

.configureIconContainer {
  position: relative;
  display: flex;

  .configureIcon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }

  .configureList {
    position: absolute;
  }
}

.exitBlock {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 400px;

  .exitButtonContainer {
    width: 100%;
    height: 100%;

    .configureIconContainer {
      position: relative;

      .configureIcon {
        position: absolute;
        top: 35px;
        right: 20px;
        cursor: pointer;
      }

      .userName {
        font-style: italic;
        position: absolute;
        right: 45px;
        top: 30px;
        color: #5f5004;
      }

      .configureList {
        opacity: 1;
        position: absolute;
        top: 65px;
        right: 10px;
        z-index: 1000;
        transition: opacity .2s;
      }

      .hide {
        opacity: 0;
        position: absolute;
        top: 65px;
        right: 10px;
        z-index: 1000;
        transition: opacity .2s;
      }

    }
  }
}

@media screen and (max-width: 950px) {
  .navContainer {
    grid-template-rows: 100px 90px;

    .navButtonsContainer {
      padding-top: 0;
      grid-template-columns: repeat(3, 150px);
      grid-gap: 5px;
    }
  }
}