.navContainer {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  display: grid;
  grid-template-rows: 100px 60px;
  background-color: #efeeee;
  box-shadow: 0 10px 10px 0 rgba(50, 50, 50, 0.2);
}

.logoAndNavButtons {
  position: relative;
  height: 100%;
  background-color: #404040;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.6);

  .logo {
    position: absolute;
    height: 80px;
    left: 50px;
    top: -90px;
  }

  .navButtonsContainer {
    padding-top: 7px;
    display: grid;
    grid-template-columns: 90px 115px 117px 100px 205px 140px;
    grid-gap: 30px;
  }
}

.button {

  a {
    text-decoration: none;

  }
}

.enterButton {
  margin: 20px 40px 0 0;
  padding: 0 5px;
  cursor: pointer;
}

.loginBlock {
  height: 100%;
  width: 400px;
  margin-left: auto;
  //margin-right: 4vw;
  margin-top: 15px;
  display: flex;
  justify-content: right;
}

.exitBlock {
  height: 100%;
  width: 400px;
  margin-left: auto;
  margin-top: 35px;
  display: grid;

  .userNameBlock {
    text-align: right;
    color: #783636;

    .userName {
      color: darkgoldenrod;
    }
  }

  .exitButtonContainer {
    display: grid;
    grid-template-columns: 300px 100px;

    .exitButton {
      margin-left: 3px;
      font-weight: 500;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 950px) {
  .navContainer {
    grid-template-rows: 100px 90px;
    .navButtonsContainer {
      padding-top: 0;
      grid-template-columns: repeat(3, 150px);
      grid-gap: 5px;
    }
  }
}