.container {
  width: 100%;
  margin: auto;
  height: 100%;
  background-color: #383838;
  box-shadow: 0 10px 10px 0 rgba(50, 50, 50, 0.6);
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}

.copyright {
  margin-top: 20px;
  text-align: center;
  font-size: 0.9em;
  color: #8e8e8e;
}