.container {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 90%;
  margin-left: 5%;
}

.itemsContainer {
  display: grid;
  grid-template-columns: repeat(5, 280px);
  grid-gap: 1%;
}

