.container {
   width: 100%;
  text-align: center;
}

.form {
  width: 74%;
  min-width: 200px;
  text-align: center;
  margin: 20px 0 10px 13%;
}

.fieldName {
  width: 100%;
  text-align: left;
  font-size: 14px;
}

.fieldInput {
  margin-bottom: 10px;
}

.error {
  margin-top: -18px;
  text-align: center;
  position: absolute;
  color: red;
  font-size: 0.8em;
}

.button {
  margin-top: 15px;
  width: 100%;
  height: 40px;
  background: #9BD71B;
  border-radius: 8px;
  color: #010101;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  border: none;
  outline: none;
}