.header {
  width: 550px;
  text-align: center;
  margin-left: 17px;
}

.content {
  text-align: center;
}

.image {
  width: 100px;
  height: 100px;
}

.bodyContainer {
  text-align: center;
  border: 0;
}