.container {
  //border: 1px solid gray;
  //box-shadow: 0 0 20px rgba(50, 50, 50, 0.3);
  //background: linear-gradient(to bottom right, #004084, #c2e1fc);

}

.header {
  //display: none;
  background: linear-gradient(to bottom right, #d4e7fc, #c2e1fc);

}

.lolo {
  position: relative;
}

.bodyContainer {
  text-align: center;
  border: 0;
}