.item {
  background-color: white;
  width: 100%;
  display: grid;
  grid-template-rows: 50% 40% 10%;
  border-radius: 0.8vw;
  box-shadow: 0 0 12px rgba(50, 50, 50, 0.8);
  text-align: center;
  font-size: 1em;
  height: 260px;

  a {
    text-decoration: none;
  }
}

.photo {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 0.8vw;
    border-top-right-radius: 0.8vw;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

.itemContent {
  width: 100%;

  .productName {
    text-align: left;
    font-size: 0.8em;
    font-weight: 500;
    padding-left: 4px;
  }

  .price {
    margin: 4px 0 4px 5px;
    display: grid;
    grid-template-columns: 85px 1fr;

    .priceName {
      text-align: left;
      color: #8e8e8e;
      width: 100%;
      font-size: 0.7em;
      line-height: 10px;
    }

    .priceData {
      height: 100%;
      font-weight: 500;
      font-size: 0.8em;
      text-align: right;
      padding-right: 3px;

      .timer {
        width: 12px;
        margin-right: 4px;
      }

      span {
        vertical-align: middle;
      }
    }
  }
}

.button {
  font-size: 0.7em;
  height: 100%;
  border-radius: 0 0 0.8vw 0.8vw;
  width: 100%;
  background-color: #3b1c05;
  color: #d9d9d9;
  transition: background-color linear .4s, color linear .4s;
  cursor: pointer;
  z-index: 1000;
  padding-top: 3px;

  &:hover {
    background-color: #66330e;
    color: #ffffff;
    z-index: 1000;
  }
}