.container{
  margin: 0 auto;
  max-width: 100vw;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 160px 1fr 110px;
  box-shadow: 0 10px 10px 0 rgba(50, 50, 50, 0.2);

  .content{
    background-color: #efeeee;
  }
}

