.container {
  width: 100%;
  display: grid;
  grid-template-columns: 29% 29%;
  grid-gap: 1.333%;
}

.fieldName {
  width: 325px;
}

.dateDatepicker {
  margin-top: 1vw;
  width: 100%;
  text-align: left;
}

.datepicker {
  width: 100%;
  text-align: center;
}

.error {
  position: absolute;
  color: red;
  font-size: 0.8em;
}

@media screen and (max-width: 930px) {
  .container {
    grid-template-columns: 44.2% 44.2%;
  }
}

@media screen and (max-width: 700px) {
  .container {
    display: block;
    width: 90%;
  }

  .dateDatepicker {
    margin-bottom: 15px;
  }
}