.container {
  width: 100%;
  display: grid;
  grid-template-columns: 29% 29%;
  grid-gap: 1.333%;
}

.fieldName {
  width: 325px;
}

.dateDatepicker {
  margin-top: 1vw;
  width: 100%;
  text-align: left;
}

.datepicker {
  width: 100%;
  text-align: center;
}

.error {
  position: absolute;
  color: red;
  font-size: 0.8em;
}