.container {
  width: 100%;
  text-align: center;
}

.form {
  width: 90%;
  min-width: 400px;
  text-align: center;
  margin-left: 5%;
  margin-bottom: 10px;
}

.fieldName {
  width: 100%;
  text-align: left;
}

.fieldInput {
  margin-bottom: 10px;
}

.userIsRegistred {
  color: green;
  margin-top: 5px;
}

.error {
  width: 85%;
  margin-top: -18px;
  text-align: center;
  position: absolute;
  color: red;
  font-size: 0.8em;
}

@media screen and (max-width: 680px) {
}